.peer{
	background-color: rgba(253,133,44,0.2);
}

@media (min-width: @screen-sm-min) {
	font-size:32px;
}

.details { 
    display: inline-block; 
    vertical-align:middle;
    height: fit-content;
 } 



.logoLogGfi{
    width:14vw;
    height:10vh;
    max-width: 66px;
    max-height: 50px;
}

.logoLogin{
  width:300px;
  height:300px;
}

@media only screen and (min-width: 768px) {
    .photo {
        width:300px;
        height:300px;
    }
}

@media only screen and (max-width: 767px) {
    .photo { 
   display: inline-block; 
   vertical-align:middle;
   width: 80vw; 
   height: 40vh; 
  }
}

@media only screen and (min-width: 768px) {
    .tableAdaptee { 
   width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    min-height: .01%;
    overflow-x: auto;
  }
}
    