{% extends "GfiBundle:Gfi:layout.html.twig" %}

{% block content %}

    <input type="text" value="" placeholder="Cherchez un client" class="search">
<br><br>
    <script>
        $(document).ready(function () {
           $('.search').on('click', function (e) {
               e.preventDefaults();

           })
        });
    </script>

    <table class="tableAdaptee table-striped table-center">
        <thead>
        <th></th>
        <th>State</th>
        <th>Title</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Started</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        {% for card in list %}
            {% include 'GfiBundle:Gfi/Card:includeListCard.html.twig' with {'card': card } %}
        {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}