{% extends "GfiBundle:Gfi:layout.html.twig" %}

{% block content %}
    <table class="col-sm-12">
        <tr>
            <th class="col-sm-1"></th>
            <th class="col-sm-3">Status</th>
            <th class="col-sm-4">Name</th>
            <th class="col-sm-4">Date</th>
        </tr>
        <tbody ng-repeat="client in listeClients track by $index">
        <tr ng-class="{'peer': $index %2 == 0}">

            <td style="text-align:center" align="center" class="col-sm-1">
                <a data-target="#_detailClient-{[{$index}]}" role="button" data-toggle="collapse"
                   class="table-link accordian-toggle collapsed" aria-expanded="false">
                    <span class="glyphicon glyphicon-th-list" style="color:black"></span>
                </a>
            </td>
            <td class="col-sm-3">
                <label>
                    {[{client.nom}]}
                </label>
            </td>
            <td class="col-sm-4">
                <label>
                    {[{client.titre}]}
                </label>
            </td>
            <td class="col-sm-4">
                <label>
                    {[{client.date}]}
                </label>
            </td>
        </tr>
        <tr ng-repeat-end class="no-background no-hover">
            <td col-sm-1></td>
            <td colspan="3" col-sm-11>

                <div class="collapse" id="_detailClient-{[{$index}]}">
                    aaaaa
                </div>
            </td>

        </tr>
        </tbody>
    </table>
{% endblock %}